body{
    background-color: rgb(36, 35, 34);
    font-family: Arial;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color:gray; (255, 255, 255)
    text-align: center;
}
h4 {
    color:rgb(219, 129, 18);
}
.container img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}